html, body {
  margin: 0px;
}

a {
	cursor: pointer;
}

div.below-nav {
  padding-top: 50px;
}

div.user {
  width: 500px;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}

img.avatar {
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	max-height: 100px;
	max-width: 100px;
}
